<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartwork.dal.mapper.ext.ZGTaskExtMapper">
  <resultMap id="BaseResultMap" type="org.smartwork.dal.entity.ZGTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="t_icon" jdbcType="VARCHAR" property="tIcon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="skills_required" jdbcType="VARCHAR" property="skillsRequired" />
    <result column="t_start_price" jdbcType="DECIMAL" property="tStartPrice" />
    <result column="is_bargain" jdbcType="BIT" property="isBargain" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="t_end_price" jdbcType="DECIMAL" property="tEndPrice" />
    <result column="t_end_time" jdbcType="TIMESTAMP" property="tEndTime" />
    <result column="t_period" jdbcType="BIGINT" property="tPeriod" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="task_state" jdbcType="BIGINT" property="taskState" />
    <result column="industry_id" jdbcType="BIGINT" property="industryId" />
    <result column="t_type_name" jdbcType="VARCHAR" property="tTypeName" />
    <result column="t_type_code" jdbcType="VARCHAR" property="tTypeCode" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.smartwork.dal.entity.ZGTask">
    <result column="t_des" jdbcType="LONGVARCHAR" property="tDes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, t_icon, name, skills_required, 
    t_start_price, is_bargain, release_time, t_end_price, t_end_time, t_period, member_id, 
    member_name, task_state, industry_id, t_type_name, t_type_code, industry
  </sql>
  <sql id="Blob_Column_List">
    t_des
  </sql>

  <select id="selectAllTask">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    fb_zg_task
    WHERE task_state = '2'
  </select>
</mapper>